h5{
    font-family: $noto-sans-jp;
    font-weight: $w-black;
}
small{
    font-family: $noto-sans-jp;
    font-weight: $w-medium;   
    color: $granite-gray;
}
.about_text{
    font-family: $noto-sans-jp;
    p{
        color: $light-gray;
    }
}
