.navbar-brand  {
    font-family: $poppins;
    font-weight: $w-regular;
    font-size: $xxx-large;
    text-transform: uppercase;
}
.small_logo{
    font-size:$x-small;
    color: $smoky-black;
}



